#philips_wrap {
	min-width: 1200px;
	width: 100%;
}

header {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #1474a4;
}

header > .logo {
	position: fixed;
	width: 125px;
	text-indent: -9999px;
	z-index: 1000;
}

header > .logo > a {
	display: block;
	width: 100%;
	height: 50px;
	background-image: url(./../images/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

header > .sub {
	position: absolute;
	left: 0;
	top: 0;
	width: 1200px;
	height: 50px;
	margin-left: 130px;
}

header > .sub > div {
	float: left;
	margin: 5px 20px 0 0;
}

header > .sub > div > a {
	font-size: 15px;
	color: #fff;
}

header > .sub > div > a.on {
	font-weight: 600;
}

header > .sub > div > ul {
	display: none;
	position: absolute;
	left: 0;
	top: 30px;
	width: 500px;
	font-size: 11px;
}

header > .sub > div > ul.on {
	display: block;
}

header > .sub > div > ul > li {
	float: left;
	margin-right: 15px;
}

header > .sub > div > ul > li:hover > a {
	text-decoration: underline;
}

header > .sub > div > ul > li > a {
	color: #fff;
}

header > .sub > .health-light > ul {
	left: 84px;
}

header > .sub > .myphilips > ul {
	left: 286px;
}

header > .sub > .health-light > a::after {
	display: block;
	position: absolute;
	left: 72px;
	top: 6px;
	height: 15px;
	border-right: 1px solid #1b548e;
	content: '';
}

header > .sub > .myphilips > a::after {
	display: block;
	position: absolute;
	left: 280px;
	top: 6px;
	height: 15px;
	border-right: 1px solid #1b548e;
	content: '';
}

header > .sub > .myphilips {
	margin-top: 0;
}

header > .sub > .myphilips > a {
	display: block;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background-image: url(./../images/people.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

header > nav {
	position: fixed;
	left: 0;
	top: 50px;
	width: 125px;
	height: 100%;
	background-color: #1474a4;
	z-index: 1000;
}

header > nav > .gnb > li {
	width: 100%;
	color: #fff;
	font-size: 14px;
	border-bottom: 1px solid #1b548e;
	box-sizing: border-box;
}

header > nav > .gnb > li:hover > a {
	font-weight: 600;
	background-color: #1b548e;
	border-right: 1px solid #fff;
}

header > nav > .gnb > li > a {
	display: block;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
}

header > nav > .gnb > li > .lnb {
	display: none;
	position: fixed;
	left: 125px;
	top: 50px;
	width: 125px;
	height: 100%;
	font-size: 12px;
	font-weight: 600;
	background-color: #13385d;
}

header > nav > .gnb > li > .lnb.on {
	display: block;
}

header > nav > .gnb > li > .lnb > li {
	line-height: 40px;
	text-indent: 10px;
}

header > nav > .gnb > li > .lnb > li > a {
	display: flex;
	height: 25px;
	color: #fff;
	line-height: 25px;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	background-color: #1b548e;
	border-bottom: 1px solid #13385d;
}

header > nav > .gnb > li > .lnb > li > a:hover {
	background-color: #1474a4;
}

section {
	height: 6000px;
}

section > .slides-img {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 400px;
}

section > .slides-img > .slides-container {
	position: absolute;
	width: 200%;
	height: 400px;
}

section > .slides-img > .slides-container > li {
	float: left;
	width: 50%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

section > .slides-img > .slides-container > li.slides_1 {
	background-image: url(./../images/child-rainbow-banner-l.jpg);
}

section > .slides-img > .slides-container > li.slides_2 {
	background-image: url(./../images/our_company_heritage-L.png);
}

section > .slides-img > .pagination {
	position: absolute;
	left: 50%;
	bottom: 5px;
	width: 50px;
	height: 10px;
	margin-left: 50px;
}

section > .slides-img > .slides-container > li > .hero {
	position: absolute;
	left: 35%;
	top: 50px;
	width: 520px;
	height: 300px;
	background-color: rgba(0, 112, 174, 0.3);
}

section > .slides-img > .slides-container > li > .hero > p {
	color: #fff;
	font-weight: 600;
}

section > .slides-img > .slides-container > li > .hero > p:nth-child(1) {
	margin: 20px 0 10px 10px;
	font-size: 45px;
}

section > .slides-img > .slides-container > li > .hero > p:nth-child(2) {
	margin-left: 15px;
	font-size: 16px;
	line-height: 30px;
}

section > .slides-img > .slides-container > li > .hero > a {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 60px;
	height: 30px;
	margin-left: -245px;
	color: #fff;
	line-height: 30px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	background-color: #7ba4d9;
	border-radius: 5px;
}

section > .slides-img > .slides-container > li > .hero > a:hover {
	background-color: #6a8bb6;
}

section > .slides-img > .slides-container > li > .philips-story {
	position: absolute;
	left: 50%;
	bottom: 10px;
	width: 400px;
	height: 150px;
	margin-left: 1330px;
	color: #fff;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	background-color: rgba(0, 112, 174, 0.3);
}

section > .slides-img > .slides-container > li > .philips-story > a {
	display: block;
	width: 100px;
	height: 30px;
	margin: 5px 0 0 30px;
	color: #fff;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	background-color: #7ba4d9;
	border-radius: 5px;
}

section > .slides-img > .slides-container > li > .philips-story > a:hover {
	background-color: #6a8bb6;
}

section > .slides-img > .pagination > li {
	float: left;
	margin-left: 10px;
	text-indent: -9999px;
}

section > .slides-img > .pagination > li > a {
	display: block;
	left: 60px;
	width: 10px;
	height: 10px;
	background-color: #dedede;
	border-radius: 50%;
}

section > .slides-img > .pagination > li.on > a,
section > .slides-img > .pagination > li:hover > a {
	background-color: gray;
}

section > .covid-19 {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #fff;
}

section > .covid-19 > div {
	position: absolute;
	left: 50%;
	top: 40px;
	width: 800px;
	height: 120px;
	margin-left: -300px;
	background-color: #f4f7fa;
}

section > .covid-19 > div > h2 {
	display: inline-block;
	width: 200px;
	height: 80px;
	margin: 20px 0 20px;
	color: #1b548e;
	line-height: 80px;
	font-size: 30px;
	text-align: center;
	border-right: 1px solid #1b548e;
}

section > .covid-19 > div > p {
	position: absolute;
	left: 230px;
	bottom: 48px;
	font-size: 16px;
	font-weight: 600;
}

section > .covid-19 > div > a {
	display: block;
	position: absolute;
	right: 180px;
	bottom: 47px;
	width: 65px;
	height: 20px;
	color: #1b548e;
	font-size: 10px;
	line-height: 20px;
}

section > .covid-19 > div > a:nth-child(4) {
	right: 130px;
}

section > .cont {
	position: relative;
	width: 100%;
}

section > .cont > li {
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

section > .cont > li:nth-child(1) {
	background-image: url(./../images/banner-l.png);
}

section > .cont > li:nth-child(2) {
	background-image: url(./../images/Lumea-1920x700.png);
}
section > .cont > li:nth-child(2) > p.tit {
	top: 780px;
	width: 400px;
}
section > .cont > li:nth-child(2) > p {
	top: 915px;
	margin-left: -475px;
}

section > .cont > li:nth-child(3) {
	background-image: url(./../images/new-haircare-banner-L.jpg);
}
section > .cont > li:nth-child(3) > p.tit {
	top: 1300px;
	width: 500px;
}
section > .cont > li:nth-child(3) > p {
	top: 1450px;
}
section > .cont > li:nth-child(3) > p:nth-child(3) {
	top: 1550px;
	font-size: 12px;
}
section > .cont > li:nth-child(3) > a {
	top: 1590px;
	background-color: #7d0063;
}
section > .cont > li:nth-child(3) > a:hover {
	background-color: #5d024b;
}

section > .cont > li:nth-child(4) {
	background-image: url(./../images/shaver-banner-large.png);
}
section > .cont > li:nth-child(4) p.tit {
	top: 1900px;
	width: 600px;
	margin-left: 0;
}
section > .cont > li:nth-child(4) p {
	top: 2110px;
	margin-left: 5px;
}
section > .cont > li:nth-child(4) p:nth-child(3) {
	top: 2220px;
	font-size: 12px;
}
section > .cont > li:nth-child(4) a {
	top: 2260px;
	margin-left: 5px;
	background-color: #0066a1;
}
section > .cont > li:nth-child(4) a:hover {
	background-color: #015585;
}

section > .cont > li:nth-child(5) {
	background-image: url(./../images/ohc-l.png);
}
section > .cont > li:nth-child(5) p.tit {
	width: 600px;
	top: 2500px;
}
section > .cont > li:nth-child(5) p {
	top: 2780px;
}
section > .cont > li:nth-child(5) a {
	top: 2840px;
	width: 150px;
	background-color: #0066a1;
}
section > .cont > li:nth-child(5) a:hover {
	background-color: #015585;
}

section > .cont > li:nth-child(6) {
	background-image: url(./../images/sonicare-banner-L.png);
}
section > .cont > li:nth-child(6) > p.tit {
	top: 3120px;
	width: 750px;
	margin-left: -70px;
}
section > .cont > li:nth-child(6) > p {
	top: 3335px;
	width: 270px;
	margin-left: -60px;
}
section > .cont > li:nth-child(6) > a {
	top: 3460px;
	margin-left: -60px;
	background-color: #de7510;
}
section > .cont > li:nth-child(6) > a:hover {
	background-color: #ce6c10;
}

section > .cont > li:nth-child(7) {
	background-image: url(./../images/baby-avent-l.png);
}
section > .cont > li:nth-child(7) > p.tit {
	top: 3720px;
	width: 900px;
}
section > .cont > li:nth-child(7) > p {
	top: 3930px;
	width: 250px;
}
section > .cont > li:nth-child(7) a {
	top: 4040px;
	width: 160px;
	background-color: #7d0063;
}
section > .cont > li:nth-child(7) a:hover {
	background-color: #5d024b;
}

section > .cont > li:nth-child(8) {
	background-image: url(./../images/src-homepage-banner-l.jpg);
}
section > .cont > li:nth-child(8) > p.tit {
	top: 4280px;
	width: 720px;
}
section > .cont > li:nth-child(8) > p {
	top: 4420px;
}
section > .cont > li:nth-child(8) > p:nth-child(3) {
	margin-top: 60px;
}
section > .cont > li:nth-child(8) > a {
	top: 4540px;
	background-color: #de7510;
}
section > .cont > li:nth-child(8) > a:hover {
	background-color: #ce6c10;
}

section > .cont > li:nth-child(9) {
	background-image: url(./../images/iron-L.png);
}
section > .cont > li:nth-child(9) > p.tit {
	top: 4880px;
}
section > .cont > li:nth-child(9) > p {
	top: 5090px;
}
section > .cont > li:nth-child(9) > p:nth-child(3) {
	margin-top: 40px;
}
section > .cont > li:nth-child(9) a {
	top: 5210px;
	background-color: #7d0063;
}
section > .cont > li:nth-child(9) a:hover {
	background-color: #5d024b;
}

section > .cont > li:nth-child(10) {
	background-image: url(./../images/aap-l.png);
}
section > .cont > li:nth-child(10) > p.tit {
	top: 5580px;
	margin-left: 245px;
}
section > .cont > li:nth-child(10) > p {
	top: 5730px;
	margin-left: 250px;
}
section > .cont > li:nth-child(10) a {
	top: 5780px;
	margin-left: 250px;
	background-color: #0066a1;
}
section > .cont > li:nth-child(10) a:hover {
	background-color: #015585;
}

section > .cont > li > p.tit {
	position: absolute;
	left: 50%;
	top: 100px;
	width: 450px;
	margin-left: -480px;
	color: #fff;
	font-size: 50px;
	font-weight: 600;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

section > .cont > li > p {
	position: absolute;
	left: 50%;
	top: 300px;
	margin-left: -470px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

section > .cont > li > a {
	position: absolute;
	left: 50%;
	top: 380px;
	width: 100px;
	height: 30px;
	margin-left: -470px;
	color: #fff;
	line-height: 30px;
	font-weight: 600;
	text-align: center;
	background-color: #5b8f22;
	border-radius: 5px;
}

section > .cont > li > a:hover {
	background-color: #578922;
}

footer {
	position: relative;
	margin-top: 600px;
	width: 100%;
	height: 80px;
	background-image: url(./../images/bg.png);
	background-size: contain;
}

footer > div {
	position: absolute;
	left: 50%;
	bottom: 30px;
	margin-left: -170px;
}
footer > div > a.ft-a {
	margin-right: 20px;
	color: #fff;
}
footer > div > a.ft-a:hover {
	text-decoration: underline;
}

footer > img {
	position: fixed;
	left: 25px;
	bottom: 40px;
	width: 60px;
	height: 70px;
	z-index: 1000;
}

footer > address {
	position: fixed;
	left: 5px;
	bottom: 5px;
	color: #dedede;
	font-size: 10px;
	text-align: center;
	z-index: 1000;
}

/*# sourceMappingURL=style.css.map */
